*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI;}
body{background:#f7f9fb}

.navbar{
  display:flex;justify-content:space-between;align-items:center;
  padding:18px 60px;background:#0f2d24;color:#fff;
}
.navbar ul{display:flex;gap:20px;list-style:none}

.btn{
  background:#7dff44;border:none;padding:12px 22px;
  border-radius:6px;font-weight:600;cursor:pointer;
}

.btn.outline{
  background:transparent;border:1px solid #7dff44;color:#7dff44;
}

.hero{
  height:85vh;
  background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
  url("https://images.unsplash.com/photo-1504307651254-35680f356dfd");
  background-size:cover;background-position:center;
  display:flex;flex-direction:column;
  align-items:center;justify-content:center;
  text-align:center;color:#fff;
}

.hero h1{font-size:52px}
.hero p{margin:15px 0}

.features{
  display:grid;grid-template-columns:repeat(3,1fr);
  gap:20px;padding:60px;
}

.card{
  background:#fff;padding:25px;
  border-radius:14px;text-align:center;
  box-shadow:0 6px 15px rgba(0,0,0,.08);
  font-weight:600;
}

.about{
  display:grid;grid-template-columns:1fr 1fr;
  gap:50px;padding:80px;
}

.about img{width:100%;border-radius:18px}

.services{padding:80px;text-align:center}
.service-grid{
  display:grid;grid-template-columns:repeat(3,1fr);
  gap:30px;margin-top:40px;
}

.service{
  background:#fff;border-radius:16px;
  overflow:hidden;
  box-shadow:0 6px 18px rgba(0,0,0,.1);
}

.service img{
  width:100%;height:230px;object-fit:cover;
}

.service h4{padding:18px}

.contact{
  background:#0f2d24;color:#fff;
  padding:80px;text-align:center;
}

.contact form{
  max-width:500px;margin:auto;
  display:flex;flex-direction:column;gap:15px;
}

.contact input,.contact textarea{
  padding:12px;border-radius:6px;
  border:none;outline:none;font-size:16px;
}

.contact textarea{height:120px}

footer{
  background:#000;color:#aaa;
  text-align:center;padding:20px;
}

@media(max-width:900px){
  .features,.about,.service-grid{grid-template-columns:1fr}
  .hero h1{font-size:38px}
}
